@import "~bootstrap/scss/bootstrap";

.hide {
    display: none !important;
}

.main-section {
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}

input {
    margin-bottom: 10px;
}